h1, h2, h3, h4, h5, h6 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: midnightblue;
    text-transform: uppercase;
    margin-top: 20px;
}

@media (max-width: 600px) {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 10px; 
    }
    p {
        padding: 5px 15px; 
    }
    main {
        margin-top: -20px;
        padding-top: 0px;
    }
}
.citrus{
    background-color: lightgoldenrodyellow;
}

p {
    font-family: monospace;
    padding: 5px 50px;
    text-align: center;
    color: midnightblue;
}

.welcome{
    font-weight: bold;
    font-size: 20px;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding-top: 10px;
    flex-direction: column;
    background-color: #f7f7f7;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    padding-top: 10px;
}

section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.message {
    background-color: lightgoldenrodyellow;
    color: midnightblue;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    display: none;

}
.button {
    font-family:'Courier New', Courier, monospace; 
    font-size: 18px;
    padding: 10px 20px;
    border: 3px solid midnightblue;
    background-color: lightcyan;
    color: midnightblue;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background-color: midnightblue;
    color: white;
}

.fruit-container {
    position: absolute;
    top: 120px;
    left: 65%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tree {
    width: 400px;
    display: inline-block;
}

.tree-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    text-align: center;
    margin-top: 20px;
}

.basket {
    width: 100px;  
    height: auto; 
    position: absolute;
    left: 72%; 
    bottom: -10px;
    transform: translateX(-50%);
}


@keyframes fall {
    0% { transform: translateY(0); opacity: 1; }
    100% {transform: translateY(220px); opacity: 1; }
}

.mysteryFruit {
    display: none;
    width: 50px;
    height: 50px;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-5deg); }
    40% { transform: rotate(5deg); }
    60% { transform: rotate(-5deg); }
    80% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}


.shake {
    animation: shake 0.5s ease-in-out;
}

.tally-box {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: lightcyan;
    color: midnightblue;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10000;
}

#citrus-positive {
    color: darkorange;
    font-weight: bold;
}

#citrus-negative {
    color: darkviolet;
    font-weight: bold;
}